body {
    background-color: #d9e4ea;
}

.App {
    padding: 60px 0 100px;
    max-width: 960px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .App {
        padding: 0;

    }


}

.App header {
    margin: 30px 0;
}

.logo {
    max-width: 150px;
    display: block;
    margin: 0 auto;

}

.form-conrol {
    padding: 15px 15px;
}

.App footer {
    margin-top: 20px;
    font-size: 13px;
}